@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --light-cloud: #f6f6f6;
  --light-gray: #F2F2F2;
  --blue: #1726FF;
  --crimson-red: #DC143C;
  --green: #86FAA3;
  --yellow: #FFFF00;
  --pending: #dec000;
  --orange: #fc9300;
}